/* novoTweet */
.novoTweet {}
.novoTweet:after {
  content: "";
  clear: both;
  width: 100%;
  display: block;
}
.novoTweet__editorArea {

}
.novoTweet__editor {
  width: 100%;
  transition: height .2s;
  border: 2px solid rgba(50,54,57,1);
  border-radius: 4px;
  resize: none;
  padding: 8px;
  height: 100px;
  font-size: 11px;
}
.novoTweet__editor:not(:empty),
.novoTweet__editor:focus {
  border: 2px solid rgba(138, 180, 248);
  box-shadow: 0 0 0 1px rgb(138, 180, 248);
  outline: 0;
}

.novoTweet__status {
  float: right;
  font-size: 14px;
  margin-bottom: 7px;
}
.novoTweet__status--invalido {
  color: red;
}

.novoTweet__envia {
  float: right;
  color: #c6efef;
  background: #1b4142;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 11px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  margin-top: 10px;
}
.novoTweet__envia span{
  color: #c6efef;
  font-weight: bold;
}